// Created by santiago on 16/01/15.
extends ../layout
block content
    h1= title
    a(href='/producto/nuevo', class='btn btn-primary') Agregar Producto Nuevo
    h2 Listado de Productos
    if (lista)
        table.table.table-striped
            thead
                th Identificador
                th Descripción
                th Grupo
                th &nbsp;
                th &nbsp;
                each dato in lista
                    tr
                        td #{dato.id_producto}
                        td #{dato.desc_producto}
                        td #{dato.num_grupo}
                        td
                            a.btn.btn-default(href='/producto/#{dato.id_producto}/editar') Editar
                        td
                            a.btn.btn-danger(href='/producto/eliminar/'+dato.id_producto) Eliminar
    else
        p No tiene ningún producto en la base de datos.